/** ####################################################################################*/
:root{
    --fg:#eee;
    --bg:#111;
    --ol:rgba(0,0,0,0.5);
	--oj:#f70;
	--hl:#b42;
}
body{
    color:var(--fg);
    background-color: var(--bg);
}

a:link,a:visited{ color:var(--oj); }