/* filter: var(--outline); */
:root{
    --outline-left:-1px;
    --outline-right:1px;
    --outline-top:-1px; 
    --outline-bottom:1px;
    --outline-color: #f70;
    --outline:
        drop-shadow(var(--outline-left) 0 0 var(--outline-color))
        drop-shadow(var(--outline-right) 0 0 var(--outline-color)) 
        drop-shadow(0 var(--outline-top) 0 var(--outline-color))
        drop-shadow(0 var(--outline-bottom) 0 var(--outline-color))
    ;
    
    --outline-blur:1px;
    --outline-shadow: var(--dark);
    --outline-shadow: #f70;
    --shadow:
        drop-shadow(var(--outline-left) var(--outline-top) var(--outline-blur) var(--outline-shadow)) 
        drop-shadow(var(--outline-left) var(--outline-bottom) var(--outline-blur) var(--outline-shadow)) 
        drop-shadow(var(--outline-right) var(--outline-top) var(--outline-blur) var(--outline-shadow)) 
        drop-shadow(var(--outline-right) var(--outline-bottom) var(--outline-blur) var(--outline-shadow)) 
    ;
}
