body{
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    
}body, html{
    margin:0; padding:0;
    height: 100%;
    min-height: 100%;
    
}body>section{
    flex-grow: 1;
}